*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(135deg, #4A90E2, #1446A0);
    color: white;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-sidebar {
    
    clip-path: path("M0,224L48,197.3C96,171,192,117,288,117.3C384,117,480,171,576,170.7C672,171,768,117,864,128C960,139,1056,213,1152,224C1248,235,1344,181,1392,154.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z  ");
}
.right-sidebar {
    right: 0;
    clip-path: path("M 250 0 L 0 0 Q 100 50 100 150 L 100 850 Q 100 950 0 1000 L 250 1000 Z");
}
.sidebar h2 {
    margin-bottom: 20px;
}
.nav-links {
    list-style: none;
    width: 100%;
}
.nav-links li {
    margin: 15px 0;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    border-radius: 8px;
    transition: background 0.3s;
}
.nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
}